* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body {
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgb(0, 0, 0);
    color: white;
    position: relative;
}

.overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
}

h1,
h2, label {
    font-family: "Popins", sans-serif;
    color: white;
}

.container {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 10px;
}

.timer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

input {
    font-size: 2rem;
    font-weight: 800;
    font-family: "Roboto Mone ", monospace;
    background-color: rgb(240, 226, 173);
    color: rgb(43, 41, 41);
    width: 80px;
    height: 70px;
    text-align: center;
    border-radius: 7px;
    border: none;
}

.box{
    font-family: "Popins", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

