body{
  margin: 0;
  padding:0;
  background-image: url(./assets/doodlejumpbg.jpg);
  text-align: center;
}
.holder{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


#board{
  background-image: url(./assets/doodlejumpbg.png);
  background-repeat: repeat;
  margin-right: 10px;
}


h2{
  display: inline-block;
  background-color: black;
  color: white;
  padding: 2px;
}


.gameover{
  background-image: url('./assets/notebookbg.png');
  width: 300px;
  height: 300px;
  background-size: cover;
  background-position: center;
  padding: 40px; /* gives breathing space like book margins */
  position: relative;
  font-family: 'Amatic SC','Indie Flower';
}
p{
  font-size: 30px;
  font-weight: bold;
}


@media (max-width: 600px) {
  .holder {
    flex-direction: column;
  }


  #board {
    width: 90vw;
  }


  .gameover {
    width: 90vw;
    height: auto;
    padding: 20px;
  }


  h2 {
    font-size: 1.5rem;
  }


  p {
    font-size: 1.2rem;
  }
}
